# Maven
target/

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Maven Wrapper (keep if you add it later)
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.project
.classpath
.settings/

# Temporary files
*.tmp
